<nav>
<h2><%= link_to "Eric Reyes", root_path %></h2>

<ul>
  <li>
    <a href="https://github.com/erey6"
      ><i class="fab fa-github fa-lg"></i
    ></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/eric-reyes-chi/"><i class="fab fa-linkedin fa-lg"></i></a>
  </li>
  <li> <%= link_to "Projects", "/#projects" %></li>
  <li>
  <%  if current_page?(home_about_path) %>
  <%= link_to "Home", root_path %>
    <% else %>
    <%= link_to "About", home_about_path %>
  <% end %>
  </li>
  <li><%= link_to "Resume", asset_path("/documents/EricReyesResume.pdf", skip_pipeline: true)%>
  </li>
  
  <%if admin_signed_in?%>
  <li>
  <%= link_to "Edit user", edit_admin_registration_path %>
  
 </li>
  <li>
  <%= button_to "Sign Out", destroy_admin_session_path, method: :delete %>
  
 </li>

 
 <% end %>
</ul>
</nav>