<main>
<section id="past">
<h1>My journalism career</h1>
<div >
<p>Until late 2021, I was an award-winning Chicago-based communications professional with more than two decades in the media industry as a reporter, editor and visual journalist.</p>
<p>I closed my career as a senior editor at Tribune Publishing's Design and Production Studio where I managed a five-person team and designed front pages for the Chicago Tribune, Baltimore Sun, Orlando Sentinel and South Florida Sun Sentinel.</p>
<p>Below are just a few samples of work during that time.</p>
</div>

<div class = "covers"> 
  <%= image_tag("/covers/bs1.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/burke.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/ct1.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/os1.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/cap.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/ct3.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/ct4.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/ctbrexit.png", alt: "Page 1 cover", skip_pipeline: true) %>
  <%= image_tag("/covers/nydnresize.png", alt: "Page 1 cover", skip_pipeline: true) %> 
</div>


</section>
</main>