<%= form_with(model: sitelink) do |form| %>
  <% if sitelink.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sitelink.errors.count, "error") %> prohibited this sitelink from being saved:</h2>

      <ul>
        <% sitelink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>
  <div>
  <h4>Select project to go with</h4>
  <%= form.collection_select(:project_id, Project.all, :id, :title) %>
</div>
  

  


  <div>
    <%= form.submit %>
  </div>
<% end %>
