<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :size=>"48"  %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, :size=>"48" %>
  </div>

  <div>
    <%= form.label :tech, style: "display: block" %>
    <%= form.text_field :tech, :size=>"48"  %>
  </div>

  <div>
    <%= form.fields_for :sitelinks do |builder| %>
      <%= builder.label :name, "link text" %> <br />
        <%= builder.text_field :name %> <br />
        <%= builder.label :url, "url" %> <br />
        <%= builder.text_field :url %><br/>
    <% end %>
  </div>

  <div>
    <%= form.label :links, style: "display: block" %>
    <%= form.text_field :links, :size=>"48"  %>
  </div>

  <div>
    <%= form.label :picurl, style: "display: block" %>
    <%= form.text_field :picurl, :size=>"48"  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
