<div class="card" id="<%= dom_id project %>">

 <h2>

    <%= project.title %>
  </h2>

  <p>

    <%= project.description %>
  </p>

  <p>
    Tech: <%= project.tech %>
  </p>

  <p>
    <strong>Links:</strong>
    <%= project.links %>
  </p>

  <p>
    <strong>Picurl:</strong>
    <%= project.picurl %>
  </p>

</div>