<div class="card" id="<%= dom_id project %>">

 <h2>

    <%= project.title %>
  </h2>

  <p>

    <%= project.description %>
  </p>

  <p>
    TECH: <%= project.tech %>
  </p>
  <ul>
  <% project.sitelinks.each do |sitelink| %>
    <li><a href="<%= sitelink.url %>" target="_blank"> 
    <%= sitelink.name %></a></li>
  <% end %>
  </ul>
  <p>
    <strong>Picurl:</strong>
    <%= project.picurl %>
  </p>

</div>